.incinerator-cell-div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
    border-radius: 0.5rem;
    border: 1px solid gray;
}

.incinerator-cell-div.inactive{
    background-color: gray;
}

.incinerator-cell-div.active.burning{
    background-color: rgb(200, 80, 5);
}

.incinerator-cell-div > img {
    width: 100%;
    height: auto;
    aspect-ratio: 1;
}