.waste-storage-cell-div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
    border-radius: 0.5rem;
}

.waste-storage-cell-div > img {
    width: 50%;
    height: auto;
    aspect-ratio: 1;
}

.waste-storage-cell-div > .rps-div{
    width: 50%;
    height: auto;
    aspect-ratio: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.waste-storage-cell-div > .rps-div > .label{
    font-size: 0.8rem;
}
.waste-storage-cell-div > .rps-div > .value{
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.5rem;
}