.info-div{
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
    width: auto;
    height: auto;
}

.info-div > .led-state-div{
    width: 100%;
    height: 30%;
}

.info-div > .op-robot-state-div{
    width: 100%;
    height: 70%;
}